body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.auth-container, .profile-container, .forgot-password-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

input[type="email"], input[type="text"], input[type="password"], input[type="number"], input[type="file"] {
    display: block;
    width: calc(100% - 22px);
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
